/* body{
    overflow-x: hidden;
} */
*{
    margin: 0px;
    padding: 0px;
}
.bg-image{
    position: absolute;
    z-index: -1;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
header{
    width: 100vw;
    height: 550px;
}
.navbar-scrolled{
    height: 100px;
    background-color: rgb(5, 5, 153);
}

.navbar{
    transition: all 0.5s;
}
.container{
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
}
.flex-right{
    display: flex;
    align-items: center;
    gap: 40px;

}
.header-menu{
    display: flex;
    align-items: center;
    gap: 25px;
}
.header-menu a{
    /* font-weight: bold; */
    text-decoration: none;
    color: #ffffff;

}
.header-menu a:hover{
    text-decoration: underline;
    color: #ffffff;
    
}
.list-group-item a{
    color: #000000;
}

@media only screen and (max-width: 991px) {
    .list-menu{
        display: none;
    }
}
@media only screen and (max-width: 1800px) and (min-width: 992px) {
    .btn-menu{
        display: none;
    }
}
@media only screen and (max-width: 766px) {
    .btn-buy{
        display: none;
    }
}
.btn-buy{
    font-size: 12px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: bold;
    color: rgb(5, 5, 153);
}
.btn-explore{
    margin-top: 30px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: bold;
    color: rgb(5, 5, 153);
}
.btn-explore:hover{
    box-shadow: rgb(255, 255, 255) 0px 5px 15px;
}
.btn-explore span:hover{
    color: #000;
}
.btn-explore i:hover{
    color: #000;
}
.btn-explore span{
    margin-right: 15px;
}
.container-banner{
    margin-top: 200px;
}
.row{
    margin-left: 200px;
}
.col h1{
    font-size: 55px;
    font-weight: bold;
    color: #ffffff;
}
.img-fluid{
    width: 340px;
    height: 385px;
    margin-top: -40px;
}
.list-group-item a:hover{
    color: blue;
    text-decoration: none;
}
.bg-about{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}
.container-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.container-about h1{
    font-weight: bold;
}
.container-about img{
    width: 461px;
    height: 413px;
}
.container-about div{
    text-align: justify;
}
.container-about{
    background-image: url('asset/img/bg/8.jpg');
}
.btn-read{
    margin-top: 30px;
    font-size: 12px;
    border: 1px solid rgb(5, 5, 153);
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: bold;
    color: rgb(251, 251, 255);
    background-color: rgb(5, 5, 153);
}
.btn-read:hover{
    box-shadow: rgb(5, 5, 153) 0px 5px 15px;
}
.img-box-wrap{
    position: relative;
    transition: all 0.6s ease-out;
    perspective: 1000px;
}
.img-box-wrap:hover{
    transition: all 0.3s linear;
    transform: scale(1.1);
}
.img-box{
    position: relative;
    transition: all 0.6s ease-out;
    transform: rotateX(0deg) rotateY(0deg);
    perspective: 1000px;
    transform-style: preserve-3d;
}
.img-box img{
    transform: translateZ(40px);
}
.img_over{
    width: 33.333%;
    height: 33.333%;
    position: absolute;
    z-index: 1;
}
/* .img_over:nth-child(1){left: 0; top: 0;}
.img_over:nth-child(2){left: 33.333%; top: 0;}
.img_over:nth-child(3){left: 66.666%; top: 0;}
.img_over:nth-child(4){left: 0; top: 33.333%;}
.img_over:nth-child(5){left: 33.333%; top: 33.333%;}
.img_over:nth-child(6){left: 66.666%; top: 33.333%;}
.img_over:nth-child(7){left: 0; top: 66.666%;}
.img_over:nth-child(8){left: 33.333%; top: 66.666%;}
.img_over:nth-child(9){left: 66.666%; top: 66.666%;}

.img_over:nth-child(1):hover ~ .img-box{transform: rotateX(-20deg) rotateY(-20deg);}
.img_over:nth-child(2):hover ~ .img-box{transform: rotateX(-20deg) rotateY(0deg);}
.img_over:nth-child(3):hover ~ .img-box{transform: rotateX(-20deg) rotateY(-20deg);}
.img_over:nth-child(4):hover ~ .img-box{transform: rotateX(0deg) rotateY(20deg);}
.img_over:nth-child(5):hover ~ .img-box{transform: rotateX(0deg) rotateY(0deg);}
.img_over:nth-child(6):hover ~ .img-box{transform: rotateX(0deg) rotateY(-20deg);}
.img_over:nth-child(7):hover ~ .img-box{transform: rotateX(20deg) rotateY(20deg);}
.img_over:nth-child(8):hover ~ .img-box{transform: rotateX(20deg) rotateY(0deg);}
.img_over:nth-child(9):hover ~ .img-box{transform: rotateX(20deg) rotateY(-20deg);} */
